body{
    overflow-x:hidden;
    overflow-y:hidden;
}

.bottom{
    background-color: black;
    padding: 5px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    z-index: 10;
}
.bottom #car{
    position: relative;
    left: 100px;
    cursor: pointer;
}
.bottom #cool{
    position: relative;
    left: 200px;
    cursor: pointer;
}
.bottom #heater{
    position: relative;
    left: 300px;
    cursor: pointer;
}
.bottom #leftSeat{
    position: relative;
    left: 400px;
    cursor: pointer;
}
.bottom #leftNumber{
    position: relative;
    left: 500px;
    color: white;
    cursor: pointer;
}
.bottom #fan{
    position: relative;
    left: 550px;
    cursor: pointer;
}
.bottom #rightNumber{
    position: relative;
    left: 600px;
    color: white;
    cursor: pointer;
}
.bottom #rightSeat{
    position: relative;
    left: 700px;
    cursor: pointer;
}
.bottom #map{
    position: relative;
    left: 800px;
    cursor: pointer;
}
.bottom #music{
    position: relative;
    left: 900px;
    cursor: pointer;
}
.bottom #volume{
    position: relative;
    left: 950px;
    cursor: pointer;
}

article {
    position: fixed;
    left: 0;
    padding: 20px;
    width: 18%;
    background-color: black;
    height: 600px;
}
.middle{
    left: 400px;
    /*background-color: black;*/
    padding: 50px;
    text-align: center;
    color: white;
    position: absolute;
    width: 60%;
    height: 425px;


}

.middle .artWork img{
    border-radius: 5%;
    position: relative;
    right: 350px;
    top: 15px;
}
.middle #audio{
    position: relative;
    left: 70px;
    top: 400px;
    width: 75%;
    background-color: black;
}
#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF4060;
    height: 30px;
    width: 100%;
}
#navBar li{
    float: left;
    margin-right: 25px;
}
#navBar li a{
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-left: 16px;
    font-size: 10px;
}

.middle #imgList{
    float: right;
    position: relative;
    bottom: 90px;
}
.middle #imgList li img{
    padding-bottom: 1px;
    display: block;
}